<header class="site-header">
  <div class="header-inner">
    <!-- navigation panel -->
    <div class="container">
      <div class="row">
        <div class="header-table col-md-12">
          <div class="brand">
            <a href="index.html">
              <img src="https://res.cloudinary.com/di6xj6n6h/image/upload/v1665982991/logo_lwbz0j.png" alt="Enfold">
            </a>
          </div>
          <nav id="nav-wrap" class="main-nav">
            <div id="mobnav-btn"> </div>
            <ul class="sf-menu">
              <li class="current">
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="#">Portfolio</a>
              </li>
              <li>
                <a href="#">Pages </a>
              </li>
              <li>
                <a href="#">Features</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Shop</a>
              </li>
              <li class="menu-search-bar">
                <a id="search-label"><i class="ion-search"></i></a>
                <form class="search-bar" id="searchform">
                  <input type="text" placeholder="Search..." name="s">
                </form>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- End navigation panel -->
    </div>
    <!-- End navigation panel -->
  </div>
</header>


<router-outlet></router-outlet>


<app-footer></app-footer>
